<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fullname" class="col-form-label col-form-label-lg">Full name</label>
      <input type="text" class="form-control form-control-lg" id="fullname" [ngClass]="{'is-invalid': submitted && formValues.name.errors}" placeholder="Guthrie Govan">
      <div *ngIf="submitted && formValues.name.errors">
        <span *ngIf="formValues.name.errors.required" class="text-danger">Name is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-form-label col-form-label-lg">E-mail address</label>
      <input type="email" class="form-control form-control-lg" id="email" [ngClass]="{'is-invalid': submitted && formValues.email.errors}" placeholder="guthriegovan@aristocrats.com">
      <div *ngIf="submitted && formValues.email.errors">
        <span *ngIf="formValues.email.errors.required" class="text-danger">E-mail address is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="school" class="col-form-label col-form-label-lg">School/Company</label>
      <input type="text" class="form-control form-control-lg" id="school" [ngClass]="{'is-invalid': submitted && formValues.school.errors}" placeholder="Berklee College of Music">
      <div *ngIf="submitted && formValues.school.errors">
        <span *ngIf="formValues.school.errors.required" class="text-danger">School/company is required.</span>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" [disabled]="loading" class="btn btn-ds-green btn-lg pl-5 pr-5">Submit</button>
    </div>
  </form>
</div>
