$ds-black: #131311;
$ds-green: #276958;
$ds-yellow: #F7D166;
$ds-red: #F41E25;
$ds-gray: #818181;
$ds-white: #fff;
$ds-brown: #242420;


body {
  background-color: $ds-brown;
  color: $ds-yellow;
  .form-group {
    input {
      border-radius: 0;
      background: $ds-black;
      color: $ds-yellow;
      border: 1px solid #111;
      &:focus {
        background: #000;
        border: 1px solid $ds-yellow;
        color: $ds-yellow;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255,255,255,.2);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255,255,255,.2);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(255,255,255,.2);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(255,255,255,.2);
    }
  }
}

.bg-color-reg {
  background-color: $ds-black;
}

.btn-ds-submit {
  color: $ds-black;
  border-color: darken($ds-yellow, 5%);
  background-color: $ds-yellow;
}
